In [1]:
## Tuples in Python

In [11]:
t1 = (1, True, 'a', 2, False, 'b')

In [5]:
t1

(1, True, 'a', 2, False, 'b')

In [7]:
type(t1)

tuple

In [9]:
t1[1]

True

In [13]:
t1[0]

1

In [15]:
t1[-1]

'b'

In [19]:
t1[1:4]

(True, 'a', 2)

In [25]:
t1[2] = "hello"  # 'tuples' does not support and value being assigned to them after being assigned once

TypeError: 'tuple' object does not support item assignment

In [29]:
t1[6] = "Superman" # neither the value can be replaced or appended at the last. This means tuples are *immutable*

TypeError: 'tuple' object does not support item assignment

In [31]:
t1.len() #this is wrong syntax to check the length of tuple

AttributeError: 'tuple' object has no attribute 'len'

In [33]:
len(t1)

6

In [43]:
# Some operations on tuples

In [35]:
t2 = (3, False, 'c', 4, True, 'd')

In [39]:
t3 = t1 + t2 # tuples can concatenate with another tuple

In [41]:
t3

(1, True, 'a', 2, False, 'b', 3, False, 'c', 4, True, 'd')

In [45]:
t4 = (1,2)
t4*3

(1, 2, 1, 2, 1, 2)

In [47]:
t4 * 3 + t1

(1, 2, 1, 2, 1, 2, 1, True, 'a', 2, False, 'b')

In [49]:
t5 = (12,56,78, -12, 8)

In [51]:
min(t5)

-12

In [53]:
max(t5)

78